* {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
}

.window {
    width: 400px;
    height: 250px;
    min-width: 300px;
    max-width: 100%;
    background: #0b0716;
    border-radius: 8px;
    position: relative;
    color: greenyellow;
}

.window code {
    display: block;
    margin: 2rem 1rem;
    position: relative;
    overflow-y: scroll;
}
.window code::-webkit-scrollbar {
    display: none;
}

.top-bar {
    width: 100%;
    height: 30px;
    background: #2b2246;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
}

.window-buttons {
    border-radius: 50%;
    background: crimson;
    margin-left: 10px;
}

.window-buttons::after, .window-buttons, .window-buttons::before {
    cursor: pointer;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

.window-buttons::after {
    background-color: yellow;
    margin: 0 20px;
}

.window-buttons::before, .window-buttons::after{
    content: '';
    position: absolute;
}
.window-buttons::before {
    margin: 0 40px;
    background-color: rgb(26, 195, 26);
}

.resize-button {
    cursor: grab;
    width: 50px;
    height: 50px;
    background: #2b2246;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 4px white;
    color: white;
}

.resize-button span {
    transform: rotate(90deg);
    font-size: x-large;
    user-select: none;
    -moz-user-select: none;
}

.grabbed {
    cursor: grabbing;
}

code::after {
    content: '\b';
    font-weight: bolder;
    background: greenyellow;
    animation: blink 800ms cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    
}